
.text_test a{
    color: black;
}

.size_test, .color_test {
    height: 40px;
    width: 60px;
    background-color: black;
}
/*Diff Logger CSS */
.cssdiff_contianer {
    position: fixed;
    z-index: 9999999;
    display: block;
    border: 1px solid;
    width: 450px;
    line-height: 2;
    padding: 15px;
    background-color: white;
}

.cssdiff_safeclicks_button{
    cursor: pointer;
    color: black;
}
.cssdiff_safeclicks_button:hover {
    color: gray;
}
.cssdiff_mute_button{
    cursor: pointer;
}
.cssdiff_mute_button:hover {
    color: gray;
}
.cssdiff_snapshot {
    cursor: pointer;
}
.cssdiff_inputprompt {
    cursor: pointer;
}
